// stylelint-disable declaration-no-important

//
// Text
//

// Alignment

.text-justify {
  text-align: justify !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}

// Responsive alignment

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

// Transformation

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

// Weight and italics

.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-lighter {
  font-weight: 300 !important;
}
.font-weight-normal {
  font-weight: 500 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-bolder {
  font-weight: 700 !important;
}
.font-italic {
  font-style: italic !important;
}

// Contextual colors

.text-white {
  color: #fff !important;
}

// Misc

.text-decoration-none {
  text-decoration: none !important;
}

.text-break {
  word-wrap: break-word !important;
}

// Reset

.text-reset {
  color: inherit !important;
}
