.container {
  text-align: left;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}
.git-users {
  width: auto;
  height: 500px;
  overflow: auto;
  border: 1px solid #dfdfdf;
  .mat-card {
    margin-bottom: 10px;
  }
}
